{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Plane dein Semester bei VAWi</h1>
        <h3>
          Bestens organisiert durchs VAWi Studium! </h3>
          <p>
            Studienleistungen, Klausuren, Hausarbeiten, Lerngruppen, Videokonferenzen…mit dem VAWI Semesterplaner lassen sich Termine und Aktivitäten in deinem VAWI Studium perfekt planen und koordinieren.
            Der VAWI Planer ist speziell auf die Bedürfnisse eines VAWI Studenten ausgerichtet und bietet dir alles, um bestens organisiert dein Studium zu bestreiten.
          </p>
        <h3>Funktionen:</h3>
        <ul>
          <li>
            Alle Module des Winter- und Sommersemesters im Überblick
          </li>
          <li>
            Detaillierte Angaben zu den einzelnen Modulen
          </li>
          <li>
            Modulübergreifendes Dashboard
          </li>
          <li>
            Klausuren, Hausarbeiten und erreichte Punkte/Noten auf einen Blick
          </li>
          <li>
            Übersicht über alle geplanten Termine
          </li>
          <li>
            PDF-Export der Terminplanung
          </li>
        </ul>
        <p>Nähere Informationen zur Applikation findet ihr auch im <a target="_blank" href="https://termplanner.readthedocs.io/">Handbuch</a></p>
        <p>
          Geplant und umgesetzt wurde der VAWI-Planer im Rahmen des Moduls „Software-und Qualitätsmanagement“ durch die VAWI Studenten Mathias Tratschuk, Henrik Ohlms, Sebastian Bauer, Björn Leppich und Martina Pauli.
        </p>
          <p>Masterstudiengang Wirtschaftsinformatik - <a target="_blank" href="https://www.vawi.de">VAWi</a></p>

      </div>
    </div>
    {% if not request.user.is_authenticated %}
      <div class="row mt-5">
      <div class="col">
        {% include "account/login_snippet.html" %}
      </div>
      </div>
    {% endif %}
{% endblock %}
