{% extends "base.html" %}
{% block content %}
  <h1>
  Impressum
  </h1>
  <p>Angaben gemäß § 5 TMG:<br>Sebastian Bauer<br> Jahnstraße 15<br>97447 Gerolzhofen</p>
  <p>Telefon: 09382/3184945<br>E-Mail: mail@sebastianbauer.io<br>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>DE323693498</p>
  <p>Online-Streitbeilegung:<br>Die Europäische Kommission stellt unter <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>  eine Plattform zur Online-Streitbeilegung bereit, die Verbraucher für  die Beilegung einer Streitigkeit nutzen können und auf der weitere  Informationen zum Thema Streitschlichtung zu finden sind.<br><br>Außergerichtliche Streitbeilegung:<br>Wir sind weder verpflichtet noch dazu bereit, im Falle einer  Streitigkeit mit einem Verbraucher an einem Streitbeilegungsverfahren  vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

{% endblock %}
