{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      {% if object.name %}
        <h2>Profil von {{ object.name }} bearbeiten</h2>
      {% else %}
        <h2>Profil von {{ object.username }} bearbeiten</h2>
      {% endif %}
      <p>Nachfolgend hast du die Möglichkeit die Angaben in deinem Profil eigenständig zu aktualisieren.</p>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Name ändern</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail ändern</a>
    <a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Passwort ändern</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
