{% extends "base.html" %}
{% load static %}
{% block css %}
  {{ block.super }}
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
{% endblock css %}
{% block top_js %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/locales-all.min.js'></script>
  <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('fullcalendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          editable: false,
          nextDayThreshold: '01:00:00',
          locale: 'de',
          weekNumbers: true,
          themeSystem: 'bootstrap',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          navLinks: true,
          eventDidMount: function(info) {
            $(info.el).tooltip({
              title: info.event.extendedProps.description,
              placement: 'top',
              trigger: 'hover',
              container: 'body'
            });
          },
          events: [
                  {% for i in events %}
                {
                    title: "{{ i.semestermodule.module.short_title }} - {{ i.title }}",
                    {% if i.all_day %}
                      allDay: true,
                      start: '{{ i.start_date|date:"c" }}',
                      end: '{{ i.day_after_end|date:"c" }}',
                    {% else %}
                      allDay: false,
                      start: '{{ i.start_date|date:"c" }}',
                      {% if i.end_date %}
                        end: '{{ i.end_date|date:"c" }}',
                      {% endif %}
                    {% endif %}
                    url: '{% url 'terms:detail_event' i.semestermodule.id i.id %}',
                    groupId: '{{ i.semestermodule.id }}',
                    description: '{{ i.title }} im Modul {{ i.semestermodule.module.title }}',

                },
                {% endfor %}
          ],
        });
        calendar.render();
      });

    </script>
{% endblock top_js %}
{% block content %}
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h1>Mein Semester</h1>
      </div>
      <div class="col">
        <a class="btn btn-info float-right" role="button" href="{% url "terms:add"%}">
          Modul hinzufügen
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col table-responsive">
        {% if semestermodule_list_current %}
          <h2>Aktuell belegte Module</h2>
          <table class="table mt-4">
            <thead class="table_vawi">
              <tr>
                <th scope="col">Modulbezeichnung</th>
                <th scope="col">Semester</th>
                <th scope="col">Nächste Termine</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for semestermodule in semestermodule_list_current %}
              <tr>
                <th scope="row"><a href="{% url 'terms:detail' semestermodule.id %}">{{semestermodule.module.title}}</a></th>
                <td>{{ semestermodule.get_term_display }}</td>
                <td>
                  <div class="list-group list-group-flush">
                    {% for event in semestermodule.last_three_events %}
                          <a href="{% url 'terms:detail_event' semestermodule.id event.id %}"
                             class="list-group-item list-group-item-action">
                            {{ event.start_date|date:"SHORT_DATE_FORMAT" }}
                            {% if event.end_date %}
                              bis {{ event.end_date|date:"SHORT_DATE_FORMAT"  }}
                            {% endif %}
                            - {{ event.title }}
                          </a>
                    {% endfor %}
                  </div>
                </td>
                <td class="align-middle">
                  <a class="btn btn-secondary" role="button" href="{% url 'terms:detail' semestermodule.id %}">
                    Zur Planung
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>Du hast noch kein Modul hinterlegt, welches du aktuell belegst. Füge doch gleich eines hinzu.</p>
          {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a class="btn btn-info" role="button" href="{% url "terms:events_pdf"%}">
            <svg class="bi" width="25" height="25" fill="currentColor">
              <use xlink:href="{% static 'images/bootstrap-icons.svg' %}#printer"/>
            </svg>
          PDF Export der Terminplanung
          </a>
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="col">
        <h2 id="dates">Terminübersicht</h2>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <div id='fullcalendar'></div>
      </div>
    </div>

    {% if events %}
    <div id="table-user-events" class="row">
      <div class="col table-responsive">

        <table class="table mt-4 table-hover" style="cursor: pointer;">
          <thead class="table_vawi">
            <tr>
              <th scope="col">Start</th>
              <th scope="col">Ende</th>
              <th scope="col">Art</th>
              <th scope="col">Bezeichnung</th>

              <th scope="col">Modul</th>

            </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr onclick="window.location='{% url 'terms:detail_event' event.semestermodule.id event.id %}';">
              <td>{{ event.start_date|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ event.end_date|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ event.get_event_type_display }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.semestermodule.module.title }}</td>

            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    {% endif %}

    <div class="row mt-4">
      <div class="col table-responsive">
        {% if semestermodule_list_done %}
          <h2>Abgeschlossene Module</h2>
          <table class="table mt-4">
            <thead class="table_vawi">
              <tr>
                <th scope="col">Modulbezeichnung</th>
                <th scope="col">ECTS</th>
                <th scope="col">Note</th>
              </tr>
            </thead>
            <tbody>
            {% for semestermodule in semestermodule_list_done %}
              <tr>
                <th scope="row"><a href="{% url 'terms:detail' semestermodule.id %}">{{semestermodule.module.title}}</a></th>
                <td>{{ semestermodule.module.ects }}</td>
                {% if semestermodule.grade != None %}
                  <td>{{ semestermodule.grade }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <p>Du hast bereits {{ semestermodule_list_done.count }}
          {% if semestermodule_list_done.count == 1 %}Modul {% else %}Module {% endif %}abgeschlossen.
          </p>
          <p>Somit hast du bisher {{ ects_done.module__ects__sum }} ECTS Punkte gesammelt.</p>
            {% if competences %}
              <h4>Bisherige Schwerpunkte im Studium</h4>
              <ul>
                <li>Wirtschaftswissenschaften: {{ competences.wiwi|floatformat }}%</li>
                <li>Informatik: {{ competences.cs|floatformat }}%</li>
                <li>Wirtschaftsinformatik: {{ competences.infosys|floatformat }}%</li>
                <li>Schlüsselkompetenzen: {{ competences.key|floatformat }}%</li>
              </ul>
            {% endif %}
          {% else %}
            <p>Du hast leider noch keine abgeschlossenen Module.</p>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
