{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ semestermodule.module.title }}</h1>
      </div>
      <div class="col">
        <div class="col"><a class="btn btn-danger float-right" role="button" href="{% url "terms:delete" semestermodule.id %}">Modul löschen</a></div>
        <div class="col"><a class="btn btn-secondary float-right mr-2" role="button" href="{% url "terms:update" semestermodule.id %}">Modul ändern</a></div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        {% if days_until_exam_a %}
          <p>Es sind noch {{ days_until_exam_a }} Tage bis zur Klausur in Block A.</p>
        {% endif %}
        {% if days_until_exam_b %}
          {% if days_until_exam_a == None %}
            <p>Es sind noch {{ days_until_exam_b }} Tage bis zur Klausur in Block B.</p>
          {% endif %}
        {% endif %}
      </div>
    </div>


    <div class="row mt-4">
      <div class="col">
        <h2>Termine</h2>
      </div>
      <div class="col">
        <a class="btn btn-secondary float-right" role="button" href="{% url "terms:add_event" semestermodule.id%}">
          Termin hinzufügen
      </a>
      </div>
    </div>
    {% if event_list %}
      <table class="table">
      <thead class="table_vawi">
        <tr>
          <th scope="col">Startdatum</th>
          <th scope="col">Enddatum</th>
          <th scope="col">Art</th>
          <th scope="col">Bezeichnung</th>
          <th scope="col">Erledigt?</th>
          <th scope="col">Aktion</th>
        </tr>
      </thead>
      <tbody>
        {% for event in event_list %}
          <tr>
            <td>
              {{ event.start_date|date:"SHORT_DATE_FORMAT" }}
            </td>
            <td>
              {% if event.end_date %}
                {{ event.end_date|date:"SHORT_DATE_FORMAT" }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {{ event.get_event_type_display }}
            </td>
            <td>
              <a href="{% url 'terms:detail_event' semestermodule.id event.id %}">{{ event.title }}</a>
            </td>
            {% if event.done == True %}
              <td>
              <svg class="bi text-success" width="25" height="25" fill="currentColor">
                <use xlink:href="{% static 'images/bootstrap-icons.svg' %}#check-circle"/>
              </svg>
              </td>
            {% else %}
              <td>
              <svg class="bi text-danger" width="25" height="25" fill="currentColor">
                <use xlink:href="{% static 'images/bootstrap-icons.svg' %}#x-circle"/>
              </svg>
              </td>
            {% endif %}
            <td>
              <a href="{% url 'terms:update_event' event.id %}">Bearbeiten</a>
            </td>
          </tr>

      {% endfor %}
      </tbody>

    </table>
    {% else %}
      <div class="row">
        <div class="col">
          <p>Es wurden noch keine Termine für das Modul erfasst.</p>
        </div>
      </div>

    {% endif %}


    <div class="row mt-4">
      <div class="col">
        <h5>Belegt im {{ semestermodule.get_term_display }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <tr>
            <td>Punkte Studienleistung</td>
            <td>
              {% if semestermodule.points_sl %}
                {{ semestermodule.points_sl }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Punkte Klausur</td>
            <td>
              {% if semestermodule.points_exam %}
                {{ semestermodule.points_exam }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Note</td>
            <td>
              {% if semestermodule.grade %}
                {{ semestermodule.grade }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>


    <h2 class="mt-4">Angaben zum Modul</h2>
    <table class="table">
      <tr>
        <td>Anbieter</td>
        <td>{{ semestermodule.module.host }}</td>
      </tr>
      <tr>
        <td>Beschreibung</td>
        <td>{{ semestermodule.module.description|linebreaks }}</td>
      </tr>
      <tr>
        <td>ECTS</td>
        <td>{{ semestermodule.module.ects }}</td>
      </tr>
      <tr>
        <td>Anteil WiWi</td>
        <td>{{ semestermodule.module.quota_economics }}</td>
      </tr>
      <tr>
        <td>Anteil Informatik</td>
        <td>{{ semestermodule.module.quota_cs }}</td>
      </tr>
      <tr>
        <td>Anteil Wirtschaftsinformatik</td>
        <td>{{ semestermodule.module.quota_is }}</td>
      </tr>
      <tr>
        <td>Anteil Schlüsselkompetenzen</td>
        <td>{{ semestermodule.module.quota_key_competence }}</td>
      </tr>
    </table>
  </div>


{% endblock content %}
