{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Meine Semester</h1>
      </div>
      <div class="col">
        <a class="btn btn-info float-right" role="button" href="{% url "terms:add"%}">
          Modul hinzufügen
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col table-responsive">
        {% if semestermodule_list_current %}
          <h2>Aktuell belegte Module</h2>
          <table class="table mt-4">
            <thead class="table_vawi">
              <tr>
                <th scope="col">Modulbezeichnung</th>
                <th scope="col">ECTS</th>
                <th scope="col">Note</th>
                <th scope="col">Nächste offene Ereignisse</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for semestermodule in semestermodule_list_current %}
              <tr>
                <th scope="row"><a href="{% url 'terms:detail' semestermodule.id %}">{{semestermodule.module.title}}</a></th>
                <td>{{ semestermodule.module.ects }}</td>
                {% if semestermodule.grade != None %}
                  <td>{{ semestermodule.grade }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
                <td>
                  <div class="list-group list-group-flush">
                    {% for event in semestermodule.last_three_events %}
                          <a href="{% url 'terms:detail_event' semestermodule.id event.id %}"
                             class="list-group-item list-group-item-action">
                            {{ event.start_date|date:"SHORT_DATE_FORMAT" }}
                            {% if event.end_date %}
                              bis {{ event.end_date|date:"SHORT_DATE_FORMAT"  }}
                            {% endif %}
                            - {{ event.title }}
                          </a>
                    {% endfor %}
                  </div>
                </td>
                <td class="align-middle">
                  <a class="btn btn-secondary" role="button" href="{% url 'terms:detail' semestermodule.id %}">
                    Zur Planung
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>Du hast noch kein Modul hinterlegt, welches du aktuell belegst. Füge doch gleich eines hinzu.</p>
          {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 id="dates">Termine</h2>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col">
	        <a class="btn btn-info left" href="{% url 'terms:list' %}?{{ prev_month }}#dates"> Vorheriger Monat </a>
	        <a class="btn btn-info right" href="{% url 'terms:list' %}?{{ next_month }}#dates"> Nächster Monat </a>
      </div>
    </div>

    <div id="calendar" class="row">
      <div class="col">
        {{ calendar }}
      </div>
    </div>

    <div id="table-user-events" class="row">
      <div class="col table-responsive">

        <table class="table mt-4 table-hover" style="cursor: pointer;">
          <thead class="table_vawi">
            <tr>
              <th scope="col">Datum</th>
              <th scope="col">Bezeichnung</th>
              <th scope="col">Art</th>
              <th scope="col">Modul</th>

            </tr>
          </thead>
          <tbody>
          {% for event in user_events %}
            <tr onclick="window.location='{% url 'terms:detail_event' event.semestermodule.id event.id %}';">
              <td>{{ event.start_date|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.get_event_type_display }}</td>
              <td>{{ event.semestermodule.module.title }}</td>

            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col table-responsive">
        {% if semestermodule_list_done %}
          <h2>Abgeschlossene Module</h2>
          <table class="table mt-4">
            <thead class="table_vawi">
              <tr>
                <th scope="col">Modulbezeichnung</th>
                <th scope="col">ECTS</th>
                <th scope="col">Note</th>
              </tr>
            </thead>
            <tbody>
            {% for semestermodule in semestermodule_list_done %}
              <tr>
                <th scope="row"><a href="{% url 'terms:detail' semestermodule.id %}">{{semestermodule.module.title}}</a></th>
                <td>{{ semestermodule.module.ects }}</td>
                {% if semestermodule.grade != None %}
                  <td>{{ semestermodule.grade }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <p>Du hast bereits {{ semestermodule_list_done.count }}
          {% if semestermodule_list_done.count == 1 %}Modul {% else %}Module {% endif %}abgeschlossen.
          </p>
          <p>Somit hast du bisher {{ ects_done.module__ects__sum }} ECTS Punkte gesammelt.</p>
          {% else %}
            <p>Du hast leider noch keine abgeschlossenen Module.</p>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
